<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="PhapY.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <!--<add name="PhapY.Properties.Settings.PhapYConnectionString" connectionString="Data Source=42.117.7.16;Initial Catalog=DBPhapY;User ID=phapy1;Password=aweqTw1*23a"
      providerName="System.Data.SqlClient" />-->
    <add name="PhapY.Properties.Settings.PhapYConnectionString" connectionString="Data Source=192.168.1.21;Initial Catalog=DBPhapY;User ID=sa;Password=phapy"
      providerName="System.Data.SqlClient" />
    <add name="DBPhapYEntities" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=HV4-PC;Initial Catalog=DBPhapY;User ID=sa;Password=123456;MultipleActiveResultSets=True&quot;"
      providerName="System.Data.EntityClient" />
    <add name="DBPhapYEntities1" connectionString="metadata=res://*/Model2.csdl|res://*/Model2.ssdl|res://*/Model2.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=HV4-PC;Initial Catalog=DBPhapY;User ID=sa;Password=123456;MultipleActiveResultSets=True&quot;"
      providerName="System.Data.EntityClient" />
  </connectionStrings>
  <userSettings>
    <PhapY.Properties.Settings>
      <setting name="UserName" serializeAs="String">
        <value>phapy1</value>
      </setting>
      <setting name="Password" serializeAs="String">
        <value>aweqw123*</value>
      </setting>
      <setting name="Remember" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Role1" serializeAs="String">
        <value>quanly</value>
      </setting>
      <setting name="Role2" serializeAs="String">
        <value>thuongtich_khamtrinh</value>
      </setting>
      <setting name="Role3" serializeAs="String">
        <value>tuthi</value>
      </setting>
      <setting name="Role4" serializeAs="String">
        <value>inhinh</value>
      </setting>
      <setting name="DatabaseName" serializeAs="String">
        <value>DBPhapY</value>
      </setting>
      <setting name="ServerName" serializeAs="String">
        <value>42.117.7.16</value>
      </setting>
      <setting name="LoginUserName" serializeAs="String">
        <value>admin</value>
      </setting>
      <setting name="LoginPassword" serializeAs="String">
        <value />
      </setting>
    </PhapY.Properties.Settings>
  </userSettings>
  <system.web>
    <membership>
      <providers>
        <!--<remove name="AspNetSqlMembershipProvider"/>-->
        <clear />
        <add name="AspNetSqlMembershipProvider" type="System.Web.Security.SqlMembershipProvider, System.Web, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" connectionStringName="PhapY.Properties.Settings.PhapYConnectionString" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" applicationName="/" requiresUniqueEmail="false" passwordFormat="Hashed" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="1" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" passwordStrengthRegularExpression="" />
      </providers>
    </membership>
    <roleManager enabled="true" defaultProvider="AspNetSqlMembershipProvider" cacheRolesInCookie="true" createPersistentCookie="false" cookieProtection="All">
      <providers>
        <clear />
        <add name="AspNetSqlMembershipProvider" type="System.Web.Security.SqlRoleProvider" applicationName="" connectionStringName="PhapY.Properties.Settings.PhapYConnectionString" />
      </providers>
    </roleManager>
  </system.web>
</configuration>