set ANSI_NULLS ON
set QUOTED_IDENTIFIER ON
go










ALTER PROC [dbo].[insert_ketluantinhduc]
	(
		@MaHoSo bigint,
		@NguoiGiamDinh nvarchar(1000),
		@NgayGioGiamDinh datetime,
		@VoiSuGiupDo nvarchar(1000),
		@DieuTraVien nvarchar(50),
		@DienThoaiDTV nvarchar(50),
		@TinhHinhSuViec nvarchar(max),
		@NghienCuuHoSoTaiLieu nvarchar(max),
		@LamSang nvarchar(1000),
		@ThaiDo nvarchar(500),
		@ChieuCao nvarchar(500),
		@CanNang nvarchar(500),
		@HuyetAp nvarchar(500),
		@Mach nvarchar(500),
		@NhietDo nvarchar(500),
		@QuanAo nvarchar(500),
		@LongMu nvarchar(500),
		@MoiLon nvarchar(500),
		@MoiBe nvarchar(500),
		@AmHo nvarchar(500),
		@MangTrinh nvarchar(500),
		@AmDao nvarchar(500),
		@TangSinhMon nvarchar(500),
		@HauMon nvarchar(500),
		@Dau nvarchar(500),
		@Co nvarchar(500),
		@Nguc nvarchar(500),
		@Dui nvarchar(500),
		@Lung nvarchar(500),
		@Mong nvarchar(500),
		@TayChan nvarchar(500),
		@MaSo nchar(10),
		@LayMauPhetDichAmDao bit,
		@SoMauPhetDichAmDao nvarchar(5),
		@Phodphatase nvarchar(100),
		@Christmas nvarchar(100),
		@LuuMauPhetDichAmDao bit,
		@LayMau bit,
		@QuetNiemMac bit,
		@SieuAmBung bit,
		@DauHieu nvarchar(max),
		@KLKhac nvarchar(max),
		@KhongThucHienPhodphatase bit,
		@KhongThucHienChristmas bit,
		@XetNghiemHIV bit,
		@HoTen1 nvarchar(50),
		@DiaDiemGiamDinh nvarchar(200),
		@HoSoTaiLieu nvarchar(1000),
		@NoiDungYeuCau nvarchar(1000),
		@NghienCuuHoSoBenhAn nvarchar(1000),
		@TheTrang nvarchar(1000),
		@KhamChuyenKhoa nvarchar(1000),
		@KetQuaCanLamSang nvarchar(2000)
	)
AS
BEGIN
	insert into ketluantinhduc(
			MaHoSo,
			NguoiGiamDinh,
			NgayGioGiamDinh,
			VoiSuGiupDo,
			DieuTraVien,
			DienThoaiDTV,
			TinhHinhSuViec,
			NghienCuuHoSoTaiLieu,
			LamSang,
			ThaiDo,
			ChieuCao,
			CanNang,
			HuyetAp,
			Mach,
			NhietDo,
			QuanAo,
			LongMu,
			MoiLon,
			MoiBe,
			AmHo,
			MangTrinh,
			AmDao,
			TangSinhMon,
			HauMon,
			Dau,
			Co,
			Nguc,
			Dui,
			Lung,
			Mong,
			TayChan,
			MaSo,
			LayMauPhetDichAmDao,
			SoMauPhetDichAmDao,
			Phodphatase,
			Christmas,
			LuuMauPhetDichAmDao,
			LayMau,
			QuetNiemMac,
			SieuAmBung,
			DauHieu,
			KLKhac,
			KhongThucHienPhodphatase,
			KhongThucHienChristmas,
			XetNghiemHIV,
			HoTen1,
			DiaDiemGiamDinh,
			HoSoTaiLieu,
			NoiDungYeuCau,
			NghienCuuHoSoBenhAn,
			TheTrang,
			KhamChuyenKhoa,
			KetQuaCanLamSang
	) values(
			@MaHoSo,
			@NguoiGiamDinh,
			@NgayGioGiamDinh,
			@VoiSuGiupDo,
			@DieuTraVien,
			@DienThoaiDTV,
			@TinhHinhSuViec,
			@NghienCuuHoSoTaiLieu,
			@LamSang,
			@ThaiDo,
			@ChieuCao,
			@CanNang,
			@HuyetAp,
			@Mach,
			@NhietDo,
			@QuanAo,
			@LongMu,
			@MoiLon,
			@MoiBe,
			@AmHo,
			@MangTrinh,
			@AmDao,
			@TangSinhMon,
			@HauMon,
			@Dau,
			@Co,
			@Nguc,
			@Dui,
			@Lung,
			@Mong,
			@TayChan,
			@MaSo,
			@LayMauPhetDichAmDao,
			@SoMauPhetDichAmDao,
			@Phodphatase,
			@Christmas,
			@LuuMauPhetDichAmDao,
			@LayMau,
			@QuetNiemMac,
			@SieuAmBung,
			@DauHieu,
			@KLKhac,
			@KhongThucHienPhodphatase,
			@KhongThucHienChristmas,
			@XetNghiemHIV,
			@HoTen1,
			@DiaDiemGiamDinh,
			@HoSoTaiLieu,
			@NoiDungYeuCau,
			@NghienCuuHoSoBenhAn,
			@TheTrang,
			@KhamChuyenKhoa,
			@KetQuaCanLamSang
	)
END









