set ANSI_NULLS ON
set QUOTED_IDENTIFIER ON
go





ALTER PROC [dbo].[insert_ketluanthuongtich]
	(		
		@MaHoSo bigint ,
		@NgayGioGiamDinh datetime ,
		@NguoiGiamDinh nvarchar(1000),
		@VoiSuGiupDo nvarchar(1000),
		@DieuTraVien nvarchar(50) ,
		@DienThoaiDTV nvarchar(50) ,
		@TinhHinhSuViec nvarchar(max) ,
		@NghienCuuHoSoTaiLieu nvarchar(max) ,
		@ThaiDo nvarchar(500) ,
		@ChieuCao nvarchar(50) ,
		@CanNang nvarchar(50) ,
		@Mach nvarchar(50) ,
		@HuyetAp nvarchar(50) ,
		@NhietDo nvarchar(50) ,
		@NhipTho nvarchar(50) ,
		@ThuongTich nvarchar(max) ,
		@CanLamSang nvarchar(max) ,
		@DauHieuChinhQuaGiamDinh nvarchar(max) ,
		@SucKhoeGiam nvarchar(50) ,
		@TamThoi nvarchar(50) ,
		@TamThoiBangChu nvarchar(50) ,
		@VinhVien nvarchar(50) ,
		@VinhVienBangChu nvarchar(50),
		@TomTatTinhHinhSuViec nvarchar(50),
		@SucKhoeGiamBangChu nvarchar(50),
		@HoTen1 nvarchar(50),
		@DiaDiemGiamDinh nvarchar(200),
		@HoSoTaiLieu nvarchar(1000),
		@NoiDungYeuCau nvarchar(1000),
		@NghienCuuHoSoBenhAn nvarchar(1000),
		@TheTrang nvarchar(1000),
		@LamSang nvarchar(1000),
		@KhamChuyenKhoa nvarchar(1000),
		@KetQuaCanLamSang nvarchar(2000),
		@KetLuanKhac nvarchar(2000)
	)
AS
BEGIN
	INSERT INTO ketluanthuongtich(
		MaHoSo ,
		NgayGioGiamDinh ,
		NguoiGiamDinh ,
		VoiSuGiupDo,
		DieuTraVien ,
		DienThoaiDTV ,
		TinhHinhSuViec ,
		NghienCuuHoSoTaiLieu ,
		ThaiDo ,
		ChieuCao ,
		CanNang ,
		Mach ,
		HuyetAp ,
		NhietDo ,
		NhipTho ,
		ThuongTich ,
		CanLamSang ,
		DauHieuChinhQuaGiamDinh ,
		SucKhoeGiam ,
		TamThoi ,
		TamThoiBangChu ,
		VinhVien ,
		VinhVienBangChu,
		TomTatTinhHinhSuViec,
		SucKhoeGiamBangChu,
		HoTen1,
		DiaDiemGiamDinh,
		HoSoTaiLieu,
		NoiDungYeuCau,
		NghienCuuHoSoBenhAn,
		TheTrang,
		LamSang,
		KhamChuyenKhoa,
		KetQuaCanLamSang,
		KetLuanKhac
	) VALUES(
		@MaHoSo ,
		@NgayGioGiamDinh ,
		@NguoiGiamDinh ,
		@VoiSuGiupDo,
		@DieuTraVien ,
		@DienThoaiDTV ,
		@TinhHinhSuViec ,
		@NghienCuuHoSoTaiLieu ,
		@ThaiDo ,
		@ChieuCao ,
		@CanNang ,
		@Mach ,
		@HuyetAp ,
		@NhietDo ,
		@NhipTho ,
		@ThuongTich ,
		@CanLamSang ,
		@DauHieuChinhQuaGiamDinh ,
		@SucKhoeGiam ,
		@TamThoi ,
		@TamThoiBangChu ,
		@VinhVien ,
		@VinhVienBangChu,
		@TomTatTinhHinhSuViec,
		@SucKhoeGiamBangChu,
		@HoTen1,
		@DiaDiemGiamDinh,
		@HoSoTaiLieu,
		@NoiDungYeuCau,
		@NghienCuuHoSoBenhAn,
		@TheTrang,
		@LamSang,
		@KhamChuyenKhoa,
		@KetQuaCanLamSang,
		@KetLuanKhac
	)
END




