set ANSI_NULLS ON
set QUOTED_IDENTIFIER ON
go

ALTER proc [dbo].[update_phulucthuongtich]
	@MaHoSo bigint,
	@BanGiamDinhYPhap bit,
	@BanKetLuanThuongTich bit,
	@QuyetDinhTrungCauGiamDinh bit,
	@BanSaoCMNDHoChieu bit,
	@GiayRavien bit,
	@GiayChungNhanThuongTich bit,
	@BienBanXemXetDauVetCoThe bit,
	@ToaThuoc bit,
	@YChung bit,
	@XQ bit,
	@XQA nvarchar(10),
	@XQB nvarchar(10),
	@EEG bit,
	@EMG bit,
	@ECG bit,
	@MRI bit,
	@SieuAm bit,
	@CTScanner bit,
	@CTScannerInput	nvarchar(5),
	@XetNghiem bit,
	@NoiSoi bit,
	@TMH bit,
	@RHM bit,
	@CTCH bit,
	@Mat bit,
	@NoiTimMach bit,
	@NoiTieuHoa bit,
	@NoiTiet bit,
	@NoiThanKinh bit,
	@NoiHoHap bit,
	@Lao bit,
	@SoDoPhacHoa bit,
	@Chup nvarchar(5),
	@SoKhamBenh bit,
	@BenhAnTomTat bit,
	@BanSaoHoSoBenhAn bit,
	@BienBanGiaoNhanTaiLieuGiamDinh bit,
	@GiayCamKetKhongKhamChuyenKhoa bit,
	@GiayCamKetInput nvarchar(100),
	@CongVanSo bit,
	@NoiDungCongVan nvarchar(200),
	@Khac bit,
	@NoiDungKhac nvarchar(200),
	@TongCong nvarchar(5),
	@BenhAnCapCuu bit,
	@BenhAnNgoaiChuan bit
as
begin
	update PhuLucThuongTich set
		BanGiamDinhYPhap = @BanGiamDinhYPhap,
		BanKetLuanThuongTich = @BanKetLuanThuongTich,
		QuyetDinhTrungCauGiamDinh = @QuyetDinhTrungCauGiamDinh,
		BanSaoCMNDHoChieu = @BanSaoCMNDHoChieu,
		GiayRavien = @GiayRavien,
		GiayChungNhanThuongTich = @GiayChungNhanThuongTich,
		BienBanXemXetDauVetCoThe = @BienBanXemXetDauVetCoThe,
		ToaThuoc = @ToaThuoc,
		YChung = @YChung,
		XQ = @XQ,
		XQA = @XQA,
		XQB = @XQB,
		EEG = @EEG,
		EMG = @EMG,
		ECG = @ECG,
		MRI = @MRI,
		SieuAm = @SieuAm,
		CTScanner = @CTScanner,
		CTScannerInput = @CTScannerInput,
		XetNghiem = @XetNghiem,
		NoiSoi = @NoiSoi,
		TMH = @TMH,
		RHM = @RHM,
		CTCH = @CTCH,
		Mat = @Mat,
		NoiTimMach = @NoiTimMach,
		NoiTieuHoa = @NoiTieuHoa,
		NoiTiet = @NoiTiet,
		NoiThanKinh = @NoiThanKinh,
		NoiHoHap = @NoiHoHap,
		Lao = @Lao,
		SoDoPhacHoa = @SoDoPhacHoa,
		Chup = @Chup,
		SoKhamBenh = @SoKhamBenh,
		BenhAnTomTat = @BenhAnTomTat,
		BanSaoHoSoBenhAn = @BanSaoHoSoBenhAn,
		BienBanGiaoNhanTaiLieuGiamDinh = @BienBanGiaoNhanTaiLieuGiamDinh,
		GiayCamKetKhongKhamChuyenKhoa = @GiayCamKetKhongKhamChuyenKhoa,
		GiayCamKetInput = @GiayCamKetInput,
		CongVanSo = @CongVanSo,
		NoiDungCongVan = @NoiDungCongVan,
		Khac = @Khac,
		NoiDungKhac = @NoiDungKhac,
		TongCong = @TongCong,
		BenhAnCapCuu = @BenhAnCapCuu,
		BenhAnNgoaiChuan = @BenhAnNgoaiChuan
	where MaHoSo = @MaHoSo
end
